name: fokus
description: Mobile application that helps kids complete their daily tasks under parental control
authors:
    - Stanisław Góra <contact@sgora.dev>
    - Mikołaj Mirko
    - Mateusz Janicki
repository: https://github.com/fokus-team/fokus
homepage: https://fokus.link
publish_to: none

version: 0.7.9-dev

environment:
    sdk: ">=2.13.0 <3.0.0"
    flutter: ">=2.2.0 <3.0.0"

dependencies:
    flutter:
        sdk: flutter
    flutter_localizations:
        sdk: flutter

    # Modules
    fokus_auth:
        path: fokus_auth

    mongo_dart:
        git:
            url: https://github.com/fokus-team/mongo_dart.git
            ref: main

    # Firebase
    firebase_core: ^1.0.0
    firebase_analytics: ^8.0.0
    firebase_crashlytics: ^2.0.0
    firebase_dynamic_links: ^2.0.0-dev.1
    firebase_storage: ^8.0.3
    firebase_remote_config: ^0.9.0-dev.1

    # Notifications
    onesignal_flutter:
        git: https://github.com/fokus-team/OneSignal-Flutter-SDK.git
    flutter_local_notifications:
        git:
            url: https://github.com/fokus-team/flutter_local_notifications.git
            path: flutter_local_notifications

    # Logic
    bloc: ^7.0.0-nullsafety.3
    flutter_bloc: ^7.0.0-nullsafety.4
    formz: ^0.4.0-nullsafety.0
    get_it: ^6.1.1

    # Services
    shared_preferences: ^2.0.3
    googleapis: ^2.0.0
    round_spot: ^0.4.0

    # Infra
    equatable: ^2.0.0
    meta: ^1.3.0
    logging: ^1.0.0
    intl: ^0.17.0

    # Utils
    vibration: ^1.7.4-nullsafety.0
    flutter_email_sender: ^5.0.0
    url_launcher: ^6.0.2
    connectivity: ^3.0.2
    date_utils: ^0.2.0
    package_info: ^2.0.0
    path_provider: ^2.0.1

    # Graphics
    cupertino_icons: ^1.0.2
    lottie: ^1.0.1
    flutter_svg: ^0.21.0+1
    confetti: ^0.6.0-nullsafety

    # UI Widgets
    flutter_markdown: ^0.6.0
    smart_select:
        git:
            url: https://github.com/iktakahiro/flutter_smart_select.git
            ref: null-safety
    badges: ^2.0.0-nullsafety.1
    implicitly_animated_reorderable_list: ^0.4.0
    flutter_picker: ^2.0.0
    table_calendar: ^3.0.0-nullsafety.1
    carousel_slider: ^4.0.0-nullsafety.0
    flutter_rating_bar: ^4.0.0
    another_flushbar: ^1.10.17

dependency_overrides:
    bson:
        git: https://github.com/fokus-team/bson.git
    mongo_dart_query:
        git: https://github.com/fokus-team/mongo_dart_query.git

dev_dependencies:
    flutter_test:
        sdk: flutter

    flutter_launcher_icons: ^0.9.0

flutter_icons:
    android: true
    ios: false
    image_path: "assets/icon/logo.png"

    adaptive_icon_foreground: "assets/icon/logo_adaptive.png"
    adaptive_icon_background: "assets/icon/bg_adaptive.png"

flutter:
    assets:
        - i18n/pl_PL.json
        - i18n/en_US.json
        - assets/animation/
        - assets/image/sunflower_logo.svg
        - assets/image/sunflower_jitter.gif
        - assets/image/sunflower_logo.png
        - assets/image/google_logo.png
        - assets/image/sunrays.svg
        - assets/help/en/
        - assets/help/pl/
        - assets/image/avatar/
        - assets/image/reward/
        - assets/image/badge/
        - assets/image/currency/

    fonts:
        - family: Lato
          fonts:
            - asset: assets/font/lato/Lato-Bold.ttf
              style: normal
              weight: 700
            - asset: assets/font/lato/Lato-BoldItalic.ttf
              style: italic
              weight: 700
            - asset: assets/font/lato/Lato-Regular.ttf
              style: normal
              weight: 400
            - asset: assets/font/lato/Lato-Italic.ttf
              style: italic
              weight: 400
            - asset: assets/font/lato/Lato-Light.ttf
              style: normal
              weight: 300
            - asset: assets/font/lato/Lato-LightItalic.ttf
              style: italic
              weight: 300

    uses-material-design: true
